@font-face {
    font-family: 'Atlantis the lost City';
    src: url('Atlantis the lost City.ttf');
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
    font-family: 'Atlantis the lost City';
    box-sizing: border-box;
}

.contianer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;    
}

.controls {
    width: 20%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.instructions {
    width: 30%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

canvas {
    float: left;
    width: 40%;
    margin-top: -1em;
}

canvas:hover {
    cursor: none;
}

.volumeControls {
    width: 100%;
    margin: 50px 0;
}



.showIcon {
    display: block;
}

.hideIcon {
    display: none;
}

h1 {
    color: #516CD4;
    margin: 200px 0 0 50px;
    font-size: 120px;
}

span {
    float: right;
}

p {
    color: #516CD4;
    font-size: 36px;
    margin: 80px 0 0;
    display: block;
}

img:focus {
    background: radial-gradient(rgb(0, 173, 204), rgb(0, 0, 0));
    outline: none;
}

.gameOver {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(rgb(0, 173, 204), rgb(0, 0, 0));
    color: black;
    font-size: 8em;
    text-align: center;
    position: absolute;
    left: -100vw;
}
.gameOverAnimate {
    animation: drawer;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

.gameOverHeading {
    position: absolute;
    top: 10%;
    left: 40%;
}

.gameOverAnimateBack {
    left: 0;
    animation: drawer-back;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

.bugImage {
    margin: auto;
    transform: scale(1.8);
    position: absolute;
    left: 30%;
}

.bugImageAnimate {
    animation: bugMove;
    animation-delay: 1.8s;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.bugImageHide {
    display: none;
}

.gameOverText {
    position: absolute;
    left: 30%;
    top: 40%;
    font-size: 60px;
    cursor: pointer;
}

.gameOverText:hover {
    color: rgb(250, 235, 215);
}

.gameOverTextAnimate {
    animation: text;
    animation-delay: 2.7s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    visibility: hidden;
}

.controlAudioElement {
    margin: 0 60px 0 40px;
    float: left;
}

.score {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: 2px solid #516CD4;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    float: left;
    text-align: center;
    padding-top: 10px;
}



@keyframes drawer {
    100% {left: 0;}
}

@keyframes drawer-back {
    100% {left: -100vw;}
}

@keyframes bugMove {
    100% {left: 120%;}
}

@keyframes text {
    100% {visibility: visible;}
}

@keyframes timer-animation {
    25% {background: green;}
  50%{background: orange;}
  100%{width: 150px; background: red;}
}
